body {
    background-color: #f8f9fa;
    color: #191c1d;
    -webkit-font-smoothing: antialiased;
}

.glass-nav {
    background-color: rgba(248, 249, 250, 0.8);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}

.glass-panel {
    background: rgba(252, 249, 248, 0.7);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}
